@font-face
{
    font-family: 'Raleway';
    src: url('polices/Raleway.eot');
    src: url('polices/Raleway.eot?#iefix') format('embedded-opentype'),
         url('polices/Raleway.woff') format('woff'),
         url('polices/Raleway.ttf') format('truetype'),
      url('polices/Raleway.svg#Raleway') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: Raleway, Arial, serif;
    width: 1200px;
    margin: auto;
    padding-top: 1em;
}

.logo{
    text-decoration: none;
}

/* Logo + lien navig */
.en_tete{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* Header */
/* Mise en place liens navigation */
/*suppression des puces de navig*/

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.lien_heber
 {
    line-height: 3em;   /*centré les liens sur la ligne*/
    padding-left: 30em; /* ???*/
}
.lien_activite,
.lien_s_inscrire {
    line-height: 3em;
}
nav a                       
{
    font-size: 1.3em;
    padding-bottom: .3em;
    text-decoration: none;
}

/*Apparence au survol liens navig*/
nav a:hover             
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 1.5em;
}
/*  FIN Mise en place liens navigation */


.cen_vill{
    font-weight: normal;
}

/*Mise en place barre rechercher*/
.recherche {
    display: flex;
    flex-direction: row;
    width: 30%;
    padding: 1em;
}

.ico_rech {
    border: 1px solid #DEEBFF;
    border-radius: 12px 0 0 12px;
    background-color: #F2F2F2;
    width: 5%;
    padding: 1em;
}

.tex_rech{
    border: 1px solid #F2F2F2;
    padding-top: .5em;
    padding-bottom: 1em;
    background-color: white;
    padding: 1em;
    font-size: 15px;
}


.bout_rech{
    color: white;
    border: 1px solid #F2F2F2;
    border-radius: 0 12px 12px 0;
    padding: .5em;
    /*padding-right: 3em;*/
    background-color: #0065FC;
    font-size: 1em;
}
/*
.recherche,
.tex_rech,
.bout_rech{
    padding-right: 5em;

}*/

/* FIN Mise en place barre rechercher*/



/*Mise en place barre Filtres*/

.filtre{
    display: flex;
    justify-content: space-between;
}

.bord1 i{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: auto;
    border: 1em solid #ddebfe;
    border-radius: 3em;
    content: "\f3d1";

}

.bord1 {
    display: flex;
    border: 1px solid #ddebfe;
    border-radius:3em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
    padding-right: 1em;
}


.fa-money{
    background-color: #ddebfe;
    color: blue;
   
}
.fa-child{
    background-color: #ddebfe;
    color: blue;
}
.fa-heart{
    background-color: #ddebfe;
    color: blue;    
}
.fa-dog{
    background-color: #ddebfe;
    color: blue;    
}

.filtre {
    display: flex;
}

.filtre{
display: flex;
}

.filtre > div a{
    margin: 3em;
    text-decoration: none;
    color: black;
    font-weight: bold; 
}

.info p{
    font-weight: normal;
}
.info{

}
.info i{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: auto;
    border: .5em solid #ddebfe;
    border-radius: 10px;
    content: "\f3d1";
}


.info{
    display: flex;
    align-items: center;
}

.info > div i{
    margin: 2em;
    color: blue;
}



/*Bloc de photo hébergement*/
/*Hébergements à Marseille*/
section{
    display: flex;
    flex-direction: row;
    margin-right: 0.5em;
    border: 1px solid #F2F2F2;
    border-radius: 12px;
}
.bloc{
    background-color: #F2F2F2;
    border-radius: 12px;
}



/*Première ligne de photos*/

.pre_ligne_photo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2em;
    padding: 2em;
}

.pre_ligne_photo p{
    color: black;
}

/*Auberge La Cannebière*/
.auberge_cannebiere {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 5px solid white;
    border-radius: 12px 12px 12px 12px;
}

.auberge_cannebiere img {
    border-radius: 12px 12pX 0 0;
}

/*Texte mis en gras sous photos*/
.pre_ligne_photo p {
    font-weight: bold;
}

/*Texte mis en normal sous texte*/
.pre_ligne_photo {
    font-weight: normal;
}

/*Modif color des icones étoiles lig 257 */
/*.auberge_cannebiere .fa-star {
    color: #0065FC;
}*/

/*Modif color des icones étoiles*/
.auberge_cannebiere_fullstar {
    color: #0065FC;
}

/*Modif color des icones étoiles*/
.auberge_cannebiere_emptystar {
    color: #F2F2F2;
}

/*Modif color des icones étoiles*/
/*
 .mis_pag_prem1
{
    color: gray;
}
*/
.hotel_port {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 5px solid white;
    border-radius: 12px 12px 12px 12px;
}

.hotel_port img {
    border-radius: 12px 12pX 0 0;
}
.deux_ligne_photo p{
    font-weight: bold;
}

/*Modif color des icones étoiles*/
.hotel_port .fa-star {
    color: #0065FC;
}

.hotel_mouettes {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 5px solid white;
    border-radius: 12px 12px 12px 12px;
}

.hotel_mouettes img {
    border-radius: 12px 12pX 0 0;
}

/*Modif color des icones étoiles*/
.hotel_mouettes .fa-star {
    color: #0065FC;
}

/* FIN Première ligne de photos*/

/*Deuxième ligne de photos*/

.deux_ligne_photo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2em;
    padding: 2em;
}

.hotel_de_mer {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 5px solid white;
    border-radius: 12px 12px 12px 12px;
}

.hotel_de_mer img {
    border-radius: 12px 12pX 0 0;
}

.hotel_de_mer p {
    font-weight: bold;
}

/*Modif color des icones étoiles*/
.hotel_de_mer .fa-star {
    color: #0065FC;
}

/*Modif color des icones étoiles*/
/*
 
{
    color: gray;
}
*/

.auberge_panier {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 5px solid white;
    border-radius: 12px 12px 12px 12px;
}

.auberge_panier img {
    border-radius: 12px 12pX 0 0;
}

/*Modif color des icones étoiles*/
.auberge_panier .fa-star {
    color: blue;
}

.hotel_amina {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 5px solid white;
    border-radius: 12px 12px 12px 12px;
}

.hotel_amina img {
    border-radius: 12px 12pX 0 0;
}

/*Modif color des icones étoiles*/
.hotel_amina .fa-star {
    color: blue;
}

/*FIN Deuxième ligne de photos*/

/*000000000 i c i 0000000000000000000000*/

/*Les plus populaires*/
/*Texte mis en gras sous photos*/

.plus_pop p {
    font-weight: bold;
}

/*Texte mis en normal sous texte*/
.plus_pop span {
    font-weight: normal;
}
.titre_popul i {
    display: flex;
    /*float: right;* A VIRER/
}

/*Les plus populaires*/

.plus_pop {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 12px;
    margin-left: 3em;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-right: 50px;
}


/*Texte mis en gras sous photos*/
.plus_pop p {
    font-weight: bold;
}

/*Texte mis en normal sous texte*/
.plus_pop span {
    font-weight: normal;
}

/*Hôtel le soleil 181*/

.mis_pag_popu1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
    background-color: white;
    border: 5px solid white;
    border-bottom: 3.5px;
    border-radius: 12px;
}

.mis_pag_popu1 p{
    padding-left: 1em;
    padding-right: 2em;
}

.mis_pag_popu1 .fa-star {
    color: blue;
    padding-top: 2.5em;
}

.mis_pag_popu1 img {
    height: 100%;
    width: 100%;
    border-radius: 12px 0 0 12px;
}
/* FIN Hôtel le soleil */


/*Les plus populaires*/

/*Au coeur de l'eau Chambres d'hôtes 187*/
.mis_pag_popu2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
    background-color: white;
    border: 1px solid white;
    border-bottom: 1px;
    border-radius: 12px;
}

.mis_pag_popu2 img {
    border-radius: 12px 0 0 12px;
}

.mis_pag_popu2 p{
    padding-left: 1em;
    padding-right: 2em;
}

.mis_pag_popu2 .fa-star {
    color: blue;
    padding-top: 2.5em;
}
/*FIN Au coeur de l'eau Chambres d'hôtes */

/*Les plus populaires*/
/*Hôtel Tout bleu et Blanc 194*/
.mis_pag_popu3 {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 5px solid white;
    border-bottom: 3.5px;
    border-radius: 12px;
}

.mis_pag_popu3 img {
    border-radius: 12px 0 0 12px;
}

.mis_pag_popu3 p{
    padding-left: 1em;
    padding-right: 2em;
}

.mis_pag_popu3 .fa-star {
    color: blue;
    padding-top: 2.5em;
    
}
/* FIN Hôtel Tout bleu et Blanc*/
/* FIN Les plus populaires*/

/*000000000000000000000000000000000000000000000000000*/

/*Activités à Marseille*/

.activites,
p {
    font-weight: bold;
}

#activites{
    margin-top: 2em;
}

.activites {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
}
/*Vieux Port 214*/
.vieux_port div {
    border: 0.5px solid white;
    border-radius: 12px; 
}
.vieux_port img{
    border: 0.5px solid white;
    border-radius: 12px 12px 0 0;  
}

/*Fort de Pomègues + iles du Frioul*/

.pre_groupe img{
    border-radius: 12px;  
}
.pre_groupe {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 5px solid white;
    border-radius: 12px;
}
.grou_un{
    border: 1px solid white;
    border-radius: 12px;  
}

.grou_un img{
    border: solid white;
    border-radius: 12px 12px 0 0;  
}

.group_unbis{
    border: 1px solid white;
    border-radius: 12px;  
}
.group_unbis img{
    border: solid white;
    border-radius: 12px 12px 0 0;  
}
/*FIN Fort de Pomègues + iles du Frioul*/

/*"Parc national des Calanques*/
.parc_calan div{
    border: 0.5px solid white;
    border-radius: 12px;  
}

.parc_calan img{
    border: solid white;
    border-radius: 12px 12px 0 0;
}
/* FIN Parc national des Calanques*/

/* Notre-Dame-de-la-Garde + Parc Longchamps*/


.deux_group img{
    border: solid white ;
    border-radius: 12px;  
}
.deux_group {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 5px solid white;
    border-radius: 12px;
}
.not_dam{
    border: 1px solid white ;
    border-radius: 12px;  
}

.not_dam img{
    border: solid white ;
    border-radius: 12px 12px 0 0;  
}

.par_long{
    border: 1px solid white ;
    border-radius: 12px;  
}
.par_long img{
    border: solid white ;
    border-radius: 12px 12px 0 0;  
}


/* PIED DE PAGE */

footer a {
   display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    /*font-size: 1em;
    margin: 2em;
    padding: 1em;
    line-height: 1px;*/
    
}

.a_propos {
    display: flex;
    flex-direction: column;
}

.nos_hebergement {
    display: flex;
    flex-direction: column;
}

.assistance {
    display: flex;
    flex-direction: column;

}

/*
footer > div span {
    font-weight: bold;
}
*/






/* I C I */
