@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Regular.ttf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Bold.ttf') format('opentype');
    font-weight: 700;
}

body {
    font-family: 'Raleway', Arial, serif;
    width: 1500px;
    margin: auto;
    padding-top: 1em;
}

/* Logo Reservia*/
.nav_logo-li {
    justify-content: space-between;
    width: 80%;
    text-decoration: none;
}

/* Mise en place liens navigation */
ul {
    display: flex;
    /*suppression des puces de navig*/
    list-style-type: none;
    /*Logo décalé sur la gauche*/
    padding-left: 0;
}

/*Alignement texte des liens navigation*/
.padd_hebergt {
    padding: 1.5em;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.3em;
    padding-bottom: .3em;
}

li .lien_heber a {
    padding-top: 3em;
}

/*Apparence au survol liens navig*/
.lien_heber a:hover {
    border-top: 0.2em solid #0065FC;
}

.lien_heber {
    line-height: 3em;
    border-top: 3em;
}

.padd_activ {
    padding: 1.5em;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.3em;
    padding-bottom: .3em;
}

/*Apparence au survol liens navig*/
.lien_activite a:hover {
    border-top: 0.2em solid #0065FC;
}

.lien_activite {
    line-height: 3em;
}

.padd_s_insscrire {
    padding: 1.5em;
    color: #0065FC;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.3em;
    padding-bottom: .3em;
}

/*Apparence au survol liens navig*/
.lien_s_inscrire a:hover {
    border-top: 0.2em solid #0065FC;
}

.lien_s_inscrire {
    line-height: 3em;
}

/*FIN Mise en place liens navigation*/

/*Marge entre titre en H2 et phrase en p*/
.trouver_hebergt {
    padding-top: 1em;
    margin: 0;
    margin-bottom: .3em;
}

.centr_ville {
    font-size: 1.1em;
    margin: 0;
    color: gray;
    font-weight: bold;
}

/*FIN Marge entre titre en H2 et phrase en p*/

/*Mise en place barre rechercher*/
.recherche {
    display: flex;
    flex-direction: row;
    width: 30%;
    padding-top: 2em;
    padding-bottom: 1em;
    border-radius: 4%;
    margin-bottom: 1em;
}

.ico_rech {
    border: 1px solid #DEEBFF;
    border-radius: 25% 0 0 25%;
    background-color: #F2F2F2;
    width: 5%;
    padding: 1em;
    line-height: 1.6em;
}

.recherche i {
    height: 1.5em;
}

.tex_rech {
    color: black;
    border: 1px solid #F2F2F2;
    padding-top: .5em;
    padding-bottom: 1em;
    background-color: white;
    padding: 1em;
    font-size: 18px;
    font-weight: bold;
}

.bout_rech {
    color: white;
    border: 1px solid #F2F2F2;
    border-radius: 0 15% 15% 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: #0065FC;
    font-size: 1em;
    font-weight: bold;
}

/* FIN Mise en place barre rechercher*/

/*Mise en place barre des Filtres*/
.filtre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2em;
    color: black;
    font-weight: bold;
    margin-right: 30em;
}

/*Filtres*/
.filtre a {
    font-size: 1.1em;
    color: black;
}

/*FIN Filtres*/

/*Economiques*/
.argent i {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: auto;
    border: 1em solid #ddebfe;
    border-radius: 3em;
    content: "\f3d1";
}

.argent {
    display: flex;
    border: 3px solid #ddebfe;
    border-radius: 3em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-right: 3em;
    align-items: center;
}

.argent a {
    text-decoration: none;
    padding-left: 1em;
    font-size: 1.1em;
}

.argent a:hover {
    color: #0065FC;
}

.fa-money-bill-wave {
    background-color: #ddebfe;
    color: #0065FC;
}

/*FIN Economiques*/

/*Familial*/
.enfant i {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: auto;
    border: 1em solid #ddebfe;
    border-radius: 3em;
    content: "\f3d1";
}

.enfant {
    display: flex;
    border: 3px solid #ddebfe;
    border-radius: 3em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
    padding-right: 3em;
    align-items: center;
    text-align: center;
}

.enfant a:hover {
    color: #0065FC;
}

.enfant a {
    text-decoration: none;
    padding-left: 1em;
    font-size: 1.1em;
}

.fa-child {
    background-color: #ddebfe;
    color: #0065FC;
}

/*FIN Familial*/

/*Romantique*/
.coeur i {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: auto;
    border: 1em solid #ddebfe;
    border-radius: 3em;
    content: "\f3d1";
}

.coeur {
    display: flex;
    border: 3px solid #ddebfe;
    border-radius: 3em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
    padding-right: 2em;
    align-items: center;
}

.coeur a:hover {
    color: #0065FC;
}

.coeur a {
    text-decoration: none;
    padding-left: 1em;
    font-size: 1.1em;
}

.fa-heart {
    background-color: #ddebfe;
    color: #0065FC;
}

/*FIN Romantique*/

/*Animaux autorisés*/
.chien i {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: auto;
    border: 1em solid #ddebfe;
    border-radius: 3em;
    content: "\f3d1";
}

.chien {
    display: flex;
    border: 3px solid #ddebfe;
    border-radius: 3em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
    padding-right: 1.5em;
    align-items: center;
    text-align: center;
}

.chien a:hover {
    color: #0065FC;
}

.chien a {
    text-decoration: none;
    padding-left: 1em;
    font-size: 1.1em;
}

.fa-dog {
    background-color: #ddebfe;
    color: #0065FC;
}

/*FIN Animaux autorisés*/
/*FIN Mise en place barre des Filtres*/

/*Plus de 500 logements*/
.info p {
    font-weight: bold;
    color: gray;
    font-size: 1.1em;
}

.info i {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*border: 1em solid #ddebfe;*/
    /*border-radius: 3em;*/
    content: "\f05a";
    margin: 1em;
    color: #0065FC;
}

/*.fa-info{
    background-color: #ddebfe;
    color: #0065FC;
}*/
.info {
    display: flex;
    align-items: center;
    border-radius: 3em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
    padding-right: 1em;
    text-align: center;
}

/*Rond autour du i (Plus de 500 logements 
sont disponibles dans cette ville)*/
.fa-info { 
    height: 20px; 
    width: 20px; 
    border: 3px solid #F2F2F2;
    border-radius: 50%;
     
} 
/*FIN Plus de 500 logements*/

/*Hébergements à Marseille*/
.pre_ligne_photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2em;
}

.pre_ligne_photo p {
    color: black;
}

.titre_hebergt {
    padding-top: 1.1em;
    padding-left: 2.2em;
}

.hebergt_marseil {
    background-color: #F2F2F2;
    border-radius: 1.5%;
    /*padding-bottom: 1.4em;
    margin-bottom: 3em;*/
    width: 63%;
    /*67%*/
}

/*Auberge La Cannebière*/
.auberge_cannebiere {
    background-color: white;
    border: 5px solid white;
    border-radius: 10%;
    text-decoration: none;
    margin-bottom: 2em;
}

.auberge_cannebiere img {
    border-radius: 10% 10% 0 0;
}

.texte_gras_canneb {
    font-weight: bold;
    margin: .5em 0 0 .5em;
}

.texte_normal_canneb {
    text-decoration: none;
    margin: .5em;
}

.texte_normal_canneb p {
    font-weight: bold;
}

.auberge_cannebiere .fa-star {
    padding-left: .2em;
}

/*Modif color des icones étoiles*/
.auberge_cannebiere_fullstar {
    color: #0065FC;
}

/*Modif color des icones étoiles*/
.auberge_cannebiere_emptystar {
    color: #F2F2F2;
}

/*FIN Auberge La Cannebière*/

/*Hôtel du port*/
.hotel_port {
    background-color: white;
    border: 5px solid white;
    border-radius: 10%;
    text-decoration: none;
    margin-bottom: 2em;
}

.hotel_port img {
    border-radius: 10% 10% 0 0;
}

/*Texte mis en gras et normal sous photos*/
.texte_gras_port {
    font-weight: bold;
    margin: .5em 0 0 .5em;
}

.texte_normal_port {
    font-weight: normal;
    margin: .5em;
}

.hotel_port .fa-star {
    padding-left: .2em;
}

/*Modif color des icones étoiles*/
.hotel_port_fullstar {
    color: #0065FC;
}

div .hotel_port a {
    text-decoration: none;
    line-height: .5em;
}

/*FIN Hôtel du port*/

/*Hôtel Les Mouettes*/
.hotel_mouettes {
    background-color: white;
    border: 5px solid white;
    border-radius: 10%;
    text-decoration: none;
    margin-bottom: 2em;
}

.hotel_mouettes img {
    border-radius: 10% 10% 0 0;
}

/*Texte mis en gras et normal sous photos*/
.texte_gras_mouette {
    font-weight: bold;
    margin: .5em 0 0 .5em;
}

.texte_normal_mouette {
    font-weight: normal;
    margin: .5em;
}

.hotel_mouettes .fa-star {
    padding-left: .2em;
}

/*Modif color des icones étoiles*/
.hotel_mouettes_fullstar {
    color: #0065FC;
}

.hotel_mouettes_emptystar {
    color: #F2F2F2;
}

div .hotel_mouettes a {
    text-decoration: none;
    line-height: .5em;
}

/*FIN Hôtel Les Mouettes*/
/* FIN Première ligne de photos*/

/*Deuxième ligne de photos*/
/*Hôtel de la mer*/
.hotel_de_mer {
    background-color: white;
    border: 5px solid white;
    border-radius: 10%;
    text-decoration: none;
    margin-bottom: 2em;
}

.hotel_de_mer img {
    border-radius: 10% 10% 0 0;
}

/*Texte mis en gras et normal sous photos*/
.texte_gras_mer {
    font-weight: bold;
    color: black;
    margin: .5em 0 0 .5em;
}

.texte_normal_mer {
    font-weight: normal;
    color: black;
    margin: .5em;
}

.hotel_de_mer .fa-star {
    padding-left: .2em;
}

/*Modif color des icones étoiles*/
.hotel_de_mer_fullstar {
    color: #0065FC;
}

/*Modif color des icones étoiles*/
.hotel_de_mer_emptystar {
    color: #F2F2F2;
}

div .hotel_de_mer a {
    text-decoration: none;
    line-height: .5em;
}

/*FIN Hôtel de la mer*/

/* "Afficher plus" en gras*/
.afficher_en_gras {
    font-weight: bold;
}

/*Auberge Le Panier*/
.auberge_panier {
    background-color: white;
    border: 5px solid white;
    border-radius: 10%;
    text-decoration: none;
    margin-bottom: 2em;
}

.auberge_panier img {
    border-radius: 10% 10% 0 0;
}

/*Texte mis en gras et normal sous photos*/
.texte_gras_panier {
    font-weight: bold;
    color: black;
    margin: .5em 0 0 .5em;
}

.texte_normal_panier {
    font-weight: normal;
    color: black;
    margin: .5em;
}

.auberge_panier .fa-star {
    padding-left: .2em;
}

/*Modif color des icones étoiles*/
.auberge_panier_fullstar {
    color: #0065FC;
}

/*Modif color des icones étoiles*/
.auberge_panier_emptystar {
    color: #F2F2F2;
}

div .auberge_panier a {
    text-decoration: none;
    line-height: .5em;
}

/*FIN Auberge Le Panier*/

.titre_afficher_plus {
    font-size: 1.3em;
    padding-left: 2.5em;
}

/*Hôtel chez Amina*/
.hotel_amina {
    background-color: white;
    border: 5px solid white;
    border-radius: 10%;
    text-decoration: none;
    margin-bottom: 2em;
}

.hotel_amina img {
    border-radius: 10% 10% 0 0;
}

/*Texte mis en gras et normal sous photos*/
.texte_gras_amina {
    font-weight: bold;
    color: black;
    margin: .5em 0 0 .5em;
}

.texte_normal_amina {
    font-weight: normal;
    color: black;
    margin: .5em;
}

.hotel_amina .fa-star {
    padding-left: .2em;
}

/*Modif color des icones étoiles*/
.auberge_panier_fullstar {
    color: #0065FC;
}

div .hotel_amina a {
    text-decoration: none;
    line-height: .5em;
}

/*FIN Hôtel chez Amina*/
/*FIN Deuxième ligne de photos*/

/* Cote à cote de Hebergement et Les plus populaires*/
.cote_a_cote {
    display: flex;
    justify-content: space-between;
    margin-left: 1em;
    margin-right: 1em;
}

/*Les plus populaires*/
.plus_pop {
    background-color: #F2F2F2;
    border-radius: 2%;
    padding-right: 1em;
    /*margin-left: 2em;*/
    padding-left: 2em;
    padding-top: 1em;
    /*padding-bottom: 2em;*/
    /*margin-left: 2.5em;*/
    /*margin-bottom: 0em;*/

    width: 30%;
}

/* Les plus populaires - titre */
.plus_pop_titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding-left: 0em;*/
    padding-right: 2em;
    padding-bottom: 1em;
}

/*Les plus populaires*/
/*.soleil_matin,
.au_coeur_de_l_eau,
.bleu_et_blanc*/

.plus_pop_carte {
    display: flex;
    border: 5px solid white;
    /*border-bottom: 2px;*/
    border-radius: 12px;
    width: 80%;
    margin-bottom: 3em;
    /*margin-right: 0em;*/
    max-width: 95%;
    background-color: white;
    text-decoration: none;
    color: black;
    /*border: 3px solid white;*/
    /*border-bottom: 2px;*/
    border-radius: 12px;
}

.plus_pop_carte span {
    padding-left: 1em;
}

/*.soleil_matin img,
.au_coeur_de_l_eau img,
.bleu_et_blanc img*/

.plus_pop_carte img {
    border: 0px;
    border-radius: 10% 0 0 10%;
}

/*.soleil_matin .fa-star,
.au_coeur_de_l_eau .fa-star,
.bleu_et_blanc .fa-star*/

.plus_pop_carte .fa-star {
    padding-top: 2.5em;
}

.plus_pop_carte_texte_gras {
    font-weight: bold;
    padding-left: 1em;

}

.plus_pop_carte_texte_normal {
    /*font-weight: normal;*/
    line-height: 0em;
    padding-left: 1em;
}

.plus_pop_carte_fullstar {
    color: #0065FC;
    /*display: inline-block;*/
}

.plus_pop_carte_emptystar {
    color: #F2F2F2;
}

/*FIN Les plus populaires*/


/* Activités à Marseille */
.activ_marseil {
    display: flex;
    justify-content: space-between;
    margin-right: 5em;
    margin: 1em;
    margin-top: 2em;
    font-family: 'Raleway', Arial, serif;
}

.activ_marseil p {
    font-weight: bold;
    color: black;
}

/*Vieux Port*/
.v_port {
    text-decoration: none;
}

.v_port img {
    border-radius: 4% 4% 0 0;
}

.v_port p {
    padding-left: 1.5em;
}

.bord_vieux_port {
    border: 1px solid #DEEBFF;
    border-radius: 4%;
}

/*FIN Vieux Port*/

/*Fort de Pomègues + iles du Frioul*/
/*Fort de Pomègues*/
.pomegue {
    border: 1px solid #DEEBFF;
    border-radius: 4%;
    text-decoration: none;
}

.pomegue img {
    border-radius: 4% 4% 0 0;
}

.pomegue p {
    padding-left: 1.5em;
}

.frioul {
    border: 1px solid #DEEBFF;
    border-radius: 4%;
    text-decoration: none;
}

.frioul img {
    border-radius: 4% 4% 0 0;
}

.frioul p {
    padding-left: 1.5em;
}

.group_pomegue_frioul a {
    display: flex;
    flex-direction: column;
    margin-top: 4.2em;
    margin-bottom: -.4em;
}

.group_pomegue_frioul img {
    border-radius: 4% 4% 0 0;
}

/*Parc national des Calanques*/
.calanq a {
    text-decoration: none;
}

.calanq img {
    border-radius: 4% 4% 0 0;
}

.calanq p {
    padding-left: 1.5em;
}

.bord_parc_calanq {
    border: 1px solid #DEEBFF;
    border-radius: 4%;
}

.calanq {
    padding-top: 4.2em;
}

/*FIN Parc national des Calanques*/

/*Notre-Dame-de-la-Garde + Parc Longchamps*/
/*Fort de Pomègues*/
.not_dam {
    border: 1px solid #DEEBFF;
    border-radius: 4%;
    text-decoration: none;
}

.not_dam img {
    border-radius: 4% 4% 0 0;
    margin-bottom: .5em;
}

.group_n_dame_longcham p {
    padding-left: 1.5em;
    text-decoration: none;
}

.par_long {
    border: 1px solid #DEEBFF;
    border-radius: 4%;
    text-decoration: none;
}

.par_long img {
    border-radius: 4% 4% 0 0;
}

.par_long p {
    padding-left: 1.5em;
}

.group_n_dame_longcham {
    display: flex;
    flex-direction: column;
    border-radius: 4% 4% 0 0;
    margin-top: 4.2em;
    margin-bottom: -.4em;
}

.group_n_dame_longcham img {
    border: 0px solid #DEEBFF;
    border-radius: 4% 4% 0 0;
}

.group_n_dame_longcham a {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.6em;
}

/*FIN Notre-Dame-de-la-Garde + Parc Longchamps*/

/* PIED DE PAGE */
.foot {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    padding-top: 1em;
    padding-bottom: 3em;
    padding-right: 20em;
    padding-left: 3em;
    margin-right: -3em;
}

.left_text {
    display: flex;
    flex-direction: column;
}

.middle_text {
    display: flex;
    flex-direction: column;
}

.right_text {
    display: flex;
    flex-direction: column;
}

footer>div span {
    font-weight: bold;
    line-height: 3em;
}

footer a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    padding: 1em;
    line-height: .1em;
}

.gris {
    color: gray;
    font-weight: bold;
}
.ico_loup{
    display: none;
}


/* FIN PIED DE PAGE */




/* R E S P O N S I V E - V E R S I O N - M O B I L E */

/*Affichage pour tous les suports*/
@media screen and (max-width: 600px) {
    body {
        display: block;
    }

    .trouver_hebergt{
        width: 80%;
    }

    .centr_ville {
        font-weight: normal;
        color: gray;
        font-size: 1.4em;
    }

    .bout_rech {
        display: none;
    }

    .ico_loup {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #0065FC;
        color: white;
        height: 50px;
        width: 60px;
        font-size: 30px;
        border-radius: 1em;
        border: none;
        margin-left: -25px;

    }

    .filtre {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        /*width: 30%;*/

    }

    .media_center {
        white-space: normal;
        text-align: left;
        font-size: 1.5em;
        font-weight: normal;
    }
    
.pre_ligne_photo{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

}
    .cote_a_cote {
        display: block;
        
    }

    .plus_pop{
        order: 2 ;
    }
    .respon_filter{
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .activ_marseil{
        display: flex;
        flex-direction: column;
    }
   
   

    .pre_ligne_photo:nth-child(1) {
        order: 2;
    }
    .plus_pop:nth-child(2) {
        order: 1;
    }
    .activ_marseil:nth-child(3) {
        order: 3;
    }
    
    
    
    
}
