/*Version desktop*/
/*Définition de la page et de la police*/
body {
    margin: 0px;
    max-width: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: #FFFFFF;
}

/*Définition du bloc de "Recherche" à "Activité" */
main {
    width: 92.8%;
    /*alignt des blocs*/
    margin: auto;
    margin-top: 170px;
}

/*Suppresion des barres sous liens*/
a {
    text-decoration: none;
    color: black;
}

/*Taille de police des liens et phrase de"info"*/
p {
    font-size: 1.1em;
}

/*Taille des titres et placement*/
h2 {
    font-size: 1.8em;
    margin: 0px;
}

/*Couleur icone Info*/
i {
    color: #0065fc;
}

/*Mise en gris étoiles fianles si présentes*/
.fa-star-grey {
    color: #d9d9d9;
}


/*Header*/
/*Mise en page du Header*/
header {
    height: 120px;
    /*hauteur de page*/
    padding: 0% 3.6% 0% 3.6%;
    /*Logo, liens*/
    background-color: #FFFFFF;
    /*Position Logo et liens*/
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    /*Flexbox*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Taille du logo*/
#logo {
    width: 130%;
}

/*Mise en place liens navigation*/
nav {
    width: 600px;
    text-align: center;
    align-self: flex-start;
    /*Alignt vertic*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
}

.nav_liens {
    padding: 6% 6% 0px 6%;
    font-size: 1.33em;
    color: black;
    border-top: 3px #FFFFFF solid;
    font-weight: normal;
}

.nav_liens-blue {
    font-weight: bold;
    color: #0065FC;
}

.nav_liens:hover {
    border-color: #0065FC;
    color: #0065FC;
}

/*FIN Mise en place liens navigation*/

/*cible section le premier élément fils de section*/
main section:first-child {
    padding-left: 3px;
}

/*Titre "Trouvez votre hébergement"*/
#titre h2 {
    font-size: 1.764em;
    margin-bottom: -11px;
    margin-top: -20px;
}

/*Mise en place barre rechercher*/
/*Formulaire de recherche*/
form {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

/*Mise en forme icone*/
.fa-map-marker-alt {
    padding: 23px;
    color: black;
    font-size: 1.4em;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #F2F2F2;
}

/*Case "Marseille, France"*/
.search-input {
    width: 25%;
    height: 68px;
    padding-left: 20px;
    font-size: 1.44em;
    font-weight: bold;
    border: 2px #f2f2f2 solid;
}

/*Bouton de recherche*/
.search-btn {
    width: auto;
    height: 66px;
    background-color: #0065FC;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    border: 0px white none;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
}

.fa-search {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Effet au survol du bouton*/
.search-btn:hover {
    background-color: #c5dcff;
    color: #0065fc;
}

/*FIN Mise en place barre rechercher*/

/*Mise en place barre des Filtres*/
#box-filters {
    margin-top: 1%;
    width: 63%;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/*cible le premier élément p*/
#box-filters p:first-child {
    font-size: 22.5px;
    padding: 0px 20px 0px 9px;
}

/*Mise en place des Filtres*/
.filter {
    height: 59px;
    border: 2px #d9d9d9 solid;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding-right: 2.5%;
    font-size: 1.4em;
}

/*Icones des filtres*/
.filter i {
    width: 22px;
    height: 22px;
    padding: 22px;
    margin: 0px 11px 0px -2px;
    border-radius: 50px;
    background-color: #deebff;
    display: flex;
    justify-content: center;
    align-items: center;

}


/*Les plus populaires*/
#hebergements {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 3%;
    height: 805px;
}

#hebergements h3:last-child {
    font-size: 1.4em;
    margin: 5% 0px 0px 5px;
}

/*Couleur du fond et bordure Hébergement, populaires */
aside,
article {
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 2.9%;
}

/*Flexbox et hauteur Hébergement, populaires */
.plus_populaire-box,
.hebergements-box {
    height: 91%;
    display: flex;
    justify-content: space-between;
}

/*Images et cards Hébergement, populaires*/
.plus_populaire-box figure,
.hebergements-box figure {
    margin: 0px;
    border: 5px white solid;
   /*dépassement du contenu*/
    display: flex;
}

/*Fond Hébergement, populaires*/
.plus_populaire-box figcaption,
.hebergements-box figcaption {
    background-color: white;
}

/*Taille police h3 Hébergement, populaires*/
.plus_populaire-box figcaption h3,
.hebergements-box figcaption h3 {
    font-size: 1.3em;
}

/*Taille police p Hébergement, populaires*/
.plus_populaire-box figcaption p,
.hebergements-box figcaption p {
    font-size: 1.1em;
}

/*Espacement des étoiles*/
.stars {
    display: flex;
}

/*Couleur icone*/
.fa-chart-line {
    color: black;
}

/*Les plus populaires bloc*/
.plus_populaire-box {
    flex-direction: column;
}

/*Images*/
.plus_populaire-box figure {
    height: 27%;
    justify-content: flex-end;
}


/*FIN Les plus populaires bloc*/



*___________________Version Mobile______________________________*/

@media screen and (max-width: 600px) {

    /*Configuration général*/
    body {
        background-color: #FFFFFF;
    }

    main {
        width: 100%;
        margin-top: 220px;
    }

    p {
        font-size: 1.085em;
    }

    h2 {
        font-size: 1.51em;
    }

}


/*___________________Version Tablette______________________________*/

@media screen and (max-width: 1024px) {

    /*Configuration général*/
main {
    margin-top: 220px;
}

p {
    font-size: 1.2em;
}

h2 {
    font-size: 1.75em;
}

}
